body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
}


.gradient-text {
  font-size: 5rem;
  font-weight: bold;
  background: linear-gradient(90deg, #ff00ff, #00ffff); // jouw kleuren
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-style {
  padding: 14px 32px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(100, 149, 237, 0.5); // zachte glow
}


