.project-main-container {
    display : flex;
    flex-direction : row;

}

@media (max-width: 768px) {
  .project-main-container {
    flex-direction: column;
    align-items: center; /* optioneel: centreren */
  }
}